# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized below.

**Objectives:**
- List popular languages for Data Science
- Introducion to R and R studio
- Introduction to Git and Git Hub
- Download and use of Jupyter Notebook
- Creating visual data using ggplot2

Some of the popular languages that Data Scientists use are:
1. R
2. C++
3. SQL
4. Python

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. TensorFlow

|Data Science Tools|
---
R Studio
Python
GitHub
Hadoop

### Below are a few examples of evaluating arithmic expressions in Python

In [1]:
2+2

4

In [2]:
(5*2)/2

5.0

In [4]:
99-35+24

88

In [6]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [20]:
#This will convert minutes to hours

minutes=int(input())
hours=minutes/60
print(hours)

200
3.3333333333333335

## Author:
Sidney Williams